/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.env
.env.backup
.env.phpunit
.phpunit.cache
.php-cs-fixer.cache
.DS_Store
Thumbs.db
composer.lock
phpunit.xml
.phpstorm.meta.php/
